
  <h1>Log in</h1>
  <form (ngSubmit)="login()" #loginForm="ngForm">

    <div>
      <label for="email">Email: </label>
      <input type="email" id="email"
              required
              placeholder="Enter your email address"
              [(ngModel)]="model.email" name="email"
              #email="ngModel">
    </div>

    <div>
      <label for="password">Password: </label>
      <input type="password" id="password"
              required
              placeholder="Choose a password"
              [(ngModel)]="model.password" name="password"
              #password="ngModel">
    </div>

    <button type="submit" [disabled]="!loginForm.form.valid">Log in</button>

  </form>
